%br
%br
.row
  .large-10.columns
    %h2 #{@user.username}'s Flashcard Packs
    %hr
.row
  .large-8.columns.large-offset-1
    - @user.packs.each do |pack|
      %h3
        %a{ :href => "#" } #{pack.name} (#{pack.cards.count} cards)
        .nice.round.progress.success
          %span.meter{:style => "width: 30%"}
