%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        - if current_user
          %a{:href => user_path(current_user.id)} Memboost
        - else
          %a{:href => login_path} Memboost
        %section.top-bar-section
          / Right Nav Section
          %ul.right
            %li
              %a{:href => user_path(1)} Home
              %li
                - if current_user
                  %a{:href => logout_path} Log out
                - else
                  %a{:href => login_path} Log in
