%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{:href => user_path(1)} Memboost
        %section.top-bar-section
          / Right Nav Section
          %ul.right
            %li
              %a{:href => user_path(1)} Home
              %li
                %a{:href => root_path} Log out
                %li.active
                  %a{:href => '/ui/register'} Register
