%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        - if current_user
          %a{:href => user_path(current_user.id)} #{current_user.username}@Memboost
        - else
          %a{:href => login_path} Memboost
        - if current_user
          %section.top-bar-section
            / Right Nav Section
            %ul.right
              %li
                %a{:href => user_path(current_user)} Home
              %li
                %a{:href => logout_path} Log out
