%br
%h1.text-center Memboost

.row
  .large-12.columns
    %p

      Memboost is a spaced repetition learning program. Enter any item
      you wish to recall into the program --- a vocabulary word, for
      instance --- and Memboost will help you to learn it quickly and
      retain it indefinitely.

    %p

      The principle is simple but powerful. Once an item has been
      learned, all that's necessary to remember it indefinitely is
      periodic reinforcement. Memboost will check your retention of a
      given item to gauge whether it needs more or less frequent
      reinforcement, and it will reschedule that item for a future
      date depending on how well you've retained it.

    %p

      Memboost takes the pain out of studying large quantities of
      information --- once an item is entered into the system,
      everything else is taken care of. All you need to do is review
      it on a regular basis.

      %br
  %ul.inline-list.right
    %li
      %a.button.small.radius{:href => login_path, :class => "right"} Login
      %li
        %a.button.small.radius{:href => new_user_path, :class => "right"} Register
