%br
%h2.text-center #{@pack.name}
%hr
%ul.side-nav
  %li
    %h3
      = link_to "Begin Review", random_card_path(data: { pack_id: @pack.id })
  %li
    %h3
      = link_to "Add Cards", new_card_path(data: { pack_id: @pack.id })
