%center
  %h1.text-center{ :style => "margin-top: 200px" } ἀγορά
  %h1.text-center.hide{ :style => "margin-top: 200px" } Marketplace

  .row
    .large-10.columns.large-offset-1
      %ul.button-group{ :style => "margin-top: 200px" }
        %li
          %a.button{:style => "margin-right: 200px", :href => "#"} I know it!
        %li
          %a.button{:style => "margin-right: 200px", :href => "#"} Sorta (1)
        %li
          %a.button{:href => "#"} No clue (3)
