%br
%h2.text-center Greek Vocabulary
%hr
%ul.side-nav
  %li
    %h3
      %a{ :href => "#" } Begin review
  %li
    %h3
      %a{ :href => "#" } Add Cards
  %li
    %h3
      %a{ :href => "#" } Settings
