%h1.text-center Memboost

.row
  .large-8.columns.large-offset-2
    %p Create an account and begin training your memory.

%br
%br
.row
  .large-5.columns.large-offset-3
    %fieldset
      %legend Register
      %input{ :placeholder => "User Name", :type => "text" }
      %input{ :placeholder => "yourname@yourmail.com", :type => "text" }
      %input{ :placeholder => "your password", :type => "text" }
      %a.button.small{:class => "[ radius round ]", :href => "#", :role => "button"} Submit
