%br
%br
.row
  .large-8.columns
    %h2 Your Flashcard Packs
.row
  .large-8.columns.large-offset-1
    %h3
      %a{ :href => "#" } Ancient Greek
      .nice.round.progress.success
        %span.meter{:style => "width: 30%"}
    %h3
      %a{ :href => "#" } U.S. History
      .nice.round.progress.success
        %span.meter{:style => "width: 90%"}
    %h3
      %a{ :href => "#" } Ruby on Rails
      .nice.round.progress.success
        %span.meter{:style => "width: 10%"}
