%a.button.small{:href => user_path(current_user)} I'm done reviewing
%center
  %h1.text-center{ :style => "margin-top: 190px" } #{@card.front}
  %h1.text-center.hide{ :style => "margin-top: 190px" } Marketplace

  .hide
    %a.button.center{:style => "margin-top: 200px", :href => random_card_path(:data => {:pack_id => @card.pack_id})} Next


  .row
    .large-10.columns.large-offset-1
      %ul.button-group{ :style => "margin-top: 200px" }
        %li
          %a.button{:style => "margin-right: 200px", :href => learned_path(@card.id), :data => {:pack_id => @card.pack_id}} I know it!
        %li
          %a.button{:style => "margin-right: 200px", :href => answer_path(@card.id), :data => {:pack_id => @card.pack_id}} Sorta (1)
        %li
          %a.button{:href => answer_path(@card.id), :data => {:pack_id => @card.pack_id}} No clue (3)
